# URL API Backend (Ganti saat production)
VITE_API_URL=https://restoflow-production-fee9.up.railway.app

# API Key Anthropic (HANYA CONTOH, JANGAN ISI KEY ASLI DI SINI)
ANTHROPIC_API_KEY=your_api_key_here